doctype
html
    head
        include ../../common/head
    body
        #container
            .header__container
                .header
                    .header__logo
                    .header__age 18+
                    .header__elems
                    a( href="http://megogo.net/ru" ).header__cross
                        .icon__cross
                .header__info
                    .header__title Вам не придётся искать интересные кино и мультфильмы
                    .header__slogan Огромный каталог фильмов
            .additionalInfo__container
                .additionalInfo__channels ПОДКЛЮЧИТЕ&nbsp;
                    strong 190 ТВ каналов
                .additionalInfo__hd и смотрите&nbsp
                    strong Full HD&nbsp;
                    | фильмы прямо сейчас
                .additionalInfo__advertising
                .main__button( onclick="document.getElementById('subscr-form').submit(); return false;" )
                    .main__text ПОДКЛЮЧИТЬ
                .main__info Первый день бесплатно, далее 10 руб. в день

            include ../../common/footer
        include ../../common/script
                          