@import '../../../common/style';
@import '../../../common/var';



@green: rgb(143, 199, 23);

body {
  background: black;
}

.header__info {
  background: rgba(46, 46, 46, 0.8);
}
.header__title {
  color: white;

  .to-h-o( 600px, @p, { margin-bottom: .2rem });
  .to-h-o( 400px, @l, { margin-bottom: .2rem });
}
.header__slogan {
  color: rgb(0, 209, 199);


  .to-h-o( 600px, @p, { display: none });
  .to-h-o( 400px, @l, { display: none });
}
.header__elems {
  max-width: 100px;
}


.additionalInfo__hd {
  font-family: 'DinDisplay-Light', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}
.additionalInfo__hd strong {
  color: @green;

}

.additionalInfo__channels, .additionalInfo__advertising {
  color: black;
}
.additionalInfo__channels {
  margin: 1rem;
}

.additionalInfo__advertising {
  font-family: 'DinDisplay-bold', Helvetica, Arial, sans-serif;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-weight: 800;
  padding: .8rem 1.2rem;
  border: 2px solid black;
  border-radius: 2px;
}

.main__button {
  background: @green;
  border-radius: 3px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem !important;
}


.container {
  .column-center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: .4rem;
  width: 94%;
  color: #d1d1d1;
  font-size: 1.6rem;
  margin-bottom: auto;

  > div {
    text-align: center;
  }
}
.main__price {
  font-size: 22px;

  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  text-align: center;
}