@import '../../../common/style';
@import '../../../common/var';

@blue: rgb(0, 173, 164);

body {
  background: rgb(242, 241, 241);
}

#container {

  .to-h-o( @xsm, @p, { background-image: url('../img/bg-xs.png') });
  .to-h-o( @xxs, @l, { background-image: url('../img/bg-xs.png') });
}

.header__title {

  font-family: 'DinDisplay-light', Helvetica, Arial, sans-serif;
  font-weight: 300;

  margin-bottom: 1rem;
  color: @gray - 50;

}
.header__elems {
  max-width: 70px;
  margin-left: 10px;
}
.header__age {

  font-family: 'DinDisplay-light', Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #b4b4b4;
  margin-left: auto;
  font-size: 1.9rem;
}

.header__slogan {
  font-weight: bold;
}

.main__button {
  width: 94%;
  background: @blue;
  margin-top: 2rem;
  .portrait( margin-bottom, 1rem );
  .to-h-o( @xsm, @p, {  margin-bottom: .3rem; margin-top: 1rem; });
}

.additionalInfo__container {
  background: white;
  border-radius: 3px;
  width: 94%;
  padding: 1.4rem .5rem;
  box-shadow: 0 7px 46px 0 rgba(0, 0, 0, 0.15);
  .to-h-o( 600px, @p, { margin-top: 0});

  .from-h( 710px, margin-bottom, 5rem);
}

.header__slogan {
  margin: .5rem auto 1.5rem;
  font-size: 1.7rem;
  text-align: center;
  .to-h-o( 600px, @p, { display: none });
  .to-h-o( 400px, @l, { display: none });
}

.additionalInfo__channels  > strong {
  color: @blue
}

.additionalInfo__hd {
  text-align: center;
  font-weight: 300;
  > strong {
    color: rgb(255, 78, 31);
  }
  .to-h-o( 400px, @l, { margin-bottom: .7rem });
}
.additionalInfo__advertising {
  margin-bottom: .5rem;
  margin-top: .3rem;
  min-height: 30px;
  width: 90%;
  background: url('../img/back-advert.png') center no-repeat;
  background-size: contain;
}


@gray: #484848;

.main__info {


  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  transform: scaleX(.9) scaleY(.9);

  font-size: 22px;
  text-align: center;
  color: @gray;
}
.footer__info {
  text-align: center;
  color: @gray;
  font-size: 1.4rem;
}