footer.footer#footer
    .hide__content
        <!--END HEADER-->
        #template-caption-pilot
            span Стоимость 10 руб. с НДС за 1 день с основного счета МТС +7XXXXXXXXXX. Нажатием кнопки «
                span#template-button-name-pilot Подключить
                |» вы осуществляете заказ доступа к услуге «
                a( href="https://megogo.net/" ) MEGOGO Кино по подписке megogo.net
                | », подтверждаете ознакомление и согласие с условиями его предоставления,&nbsp;
                a( href="http://static.mts.ru/uploadmsk/contents/1655/poryadok_predostavl_uslug_feb2013.pdf" ) Порядком предоставления контентных услуг ПАО «МТС»,&nbsp;
                a( href="offer.html" ) правилами оказания услуги&nbsp;
                | контент-провайдером Автоматизация счетов, ООО. Оказывается МТС с привлечением Автоматизация счетов, ООО.
        <!--START FOOTER-->
    p.footer__text-block#trig-footer


