script
    | document.getElementById('template-button-name-pilot').innerHTML = "Подключить";
    | var mts_info_block = document.getElementById('template-caption-pilot').innerHTML;
    | document.getElementById('trig-footer').innerHTML =  mts_info_block;

