doctype
html
    head
        include ../../common/head
    body
        #container
            .header__container
                .header
                    .header__logo
                    .header__age 0+
                    .header__elems
                    a( href="http://megogo.net/ru" ).header__cross
                        .icon__cross
                .header__info
                    .header__title Вам не придётся искать интересные кино и мультфильмы
                    .header__slogan Огромный каталог фильмов
            .additionalInfo__container
                .additionalInfo__channels ПОДКЛЮЧИТЕ&nbsp;
                    strong 190&nbsp;
                    | ТВ каналов
                .additionalInfo__hd и смотрите
                    strong &nbsp;Full HD&nbsp;
                    | фильмы прямо сейчас
                .additionalInfo__advertising Без рекламы
            .main__button( onclick="document.getElementById('subscr-form').submit(); return false;" )
                .main__text ПОДКЛЮЧИТЬ
            .container
                .main__price Первый день бесплатно, далее 10 руб. в день
                .footer__info Оплата будет произведена с основного счёта +70000000000, услуга оказывается МТС совместно с ООО «Автоматизация счетов»

            include ../../common/footer
        include ../../common/script